.example-form {
  min-width: 300px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.avatar {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.icon_visibility {
  visibility: hidden;
}

.edit {
  cursor: pointer;
}

.edit:hover + .icon_visibility {
  /*display: block;*/
  /*color: dodgerblue;*/
  visibility: visible;
}
