.mat-sidenav-container {
  position: absolute;
  top:64px;
  bottom: 0;
  right: 0;
  left: 0;
}

.example-spacer {
  flex: 1 1 auto;
}


.sidenav-container {
  height: 88vh;
  /*background-color: #a94442;*/
}

.mat-sidenav {
  width: 150px;
}
