/*.example-container {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  min-width: 300px;*/
/*}*/

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-name {
  flex: 0 0 50%;
}

/*.mat-header-cell {*/
/*  display:flex;*/
/*  justify-content:flex-end;*/
/*}*/

.mat-toolbar {
  height: 45px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/*.mat-table {*/
/*  overflow: auto;*/
/*  max-height: 500px;*/
/*}*/


